// sizes
$size:(
    hd:1799px,
    xl:1599px,
    lg:1439px,
    md:1023px,
    sm:991px,
    xs:767px
);

//  :::: media min widths ::::
@mixin media-hd-min{
    @media all and (min-width: map-get($size, hd ) + 1  ) {
        @content;
    }
}
@mixin media-xl-min{
    @media all and (min-width: map-get($size, xl ) + 1 ) {
        @content;
    }
}
@mixin media-lg-min{
    @media all and (min-width: map-get($size, lg ) + 1 ) {
        @content;
    }
}
@mixin media-md-min{
    @media all and (min-width: map-get($size, md ) + 1 ) {
        @content;
    }
}
@mixin media-sm-min{
    @media all and (min-width: map-get($size, sm ) + 1 ) {
        @content;
    }
}
@mixin media-xs-min{
    @media all and (min-width: map-get($size, xs ) + 1 ) {
        @content;
    }
}

//  :::: media max widths ::::
@mixin media-hd-max{
    @media all and (max-width: map-get($size, hd )) {
        @content;
    }
}
@mixin media-xl-max{
    @media all and (max-width: map-get($size, xl )) {
        @content;
    }
}
@mixin media-lg-max{
    @media all and (max-width: map-get($size, lg )) {
        @content;
    }
}
@mixin media-md-max{
    @media all and (max-width: map-get($size, md )) {
        @content;
    }
}
@mixin media-sm-max{
    @media all and (max-width: map-get($size, sm ) ) {
        @content;
    }
}
@mixin media-xs-max{
    @media all and (max-width: map-get($size, xs )) {
        @content;
    }
}
